



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    width: 100%;
    min-height: 100vh;
}


.card__container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
}

.card {
    margin: 10rem auto 0;
    width: 20rem;
    height: 32rem;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    backface-visibility: hidden;
    
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}


.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgb(0, 0, 0, 0.2);
}

.card__face h2 {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    letter-spacing: .1rem;
}

.card__face p {
    font-size: 1.1rem;
    padding: .3rem 1rem;
    letter-spacing: .012rem;
}

.card__face--front{
    background-image: url('/img/mountain-view.webp');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:  10px;
}

.card__face--front-text {
    height: 100%;
    margin-top: 16rem;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.829), rgba(255, 255, 255, 0.562), rgb(255, 255, 255), rgb(255, 255, 255));
}


.card__face--back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 10px;
    
}

.card__content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem;
}

.card__header {
    width: 100%;   
}

.card__header > h2 {
   text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    letter-spacing: .1rem;
}